<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AllowedTypes</key>
	<array>
		<string>public.objective-c-source</string>
		<string>public.objective-c-plus-plus-source</string>
	</array>
	<key>Description</key>
	<string>Set of classes for VIPER stack.</string>
	<key>Kind</key>
	<string>Xcode.IDEKit.TextSubstitutionFileTemplateKind</string>
	<key>MainTemplateFile</key>
	<string>___FILEBASENAME___.m</string>
	<key>Options</key>
	<array>
		<dict>
			<key>Description</key>
			<string>The name of VIPER feature to create</string>
			<key>Identifier</key>
			<string>productName</string>
			<key>Name</key>
			<string>Viper feature name</string>
			<key>NotPersisted</key>
			<true/>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>text</string>
		</dict>
	</array>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
	</array>
	<key>Summary</key>
	<string>VIPER stack</string>
	<key>Definitions</key>
	<dict>
		<key>___FILEBASENAME___Interactor.h</key>
		<dict>
			<key>Path</key>
			<string>___FILEBASENAME___Interactor.h</string>
		</dict>
	</dict>
	<key>Nodes</key>
	<array>
		<string>Interactors/___FILEBASENAME___Interactor.h</string>
	</array>
</dict>
</plist>
